Source: deber
Section: devel
Priority: optional
Maintainer: Dawid Dziurla <dawidd0811@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper (>= 11),
 dh-golang,
 golang-any,
 golang-github-docker-docker-dev,
 golang-github-spf13-cobra-dev,
 golang-pault-go-debian-dev,
Standards-Version: 4.3.0
Homepage: https://github.com/dawidd6/deber
XS-Go-Import-Path: github.com/dawidd6/deber
Testsuite: autopkgtest-pkg-go

Package: deber
Architecture: any
Built-Using: ${misc:Built-Using}
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Debian packaging with Docker
 Create Debian packages in Docker containers easily.
